
<DIV STYLE="background-color:#000000; height:40px; width:100%;"><button class=button>XXXX</button></DIV>
<div placeholder='Search Pokemon' (ionChange)='onSearchChange($event)'></div>

<section id="team">
    <div class="container">
      <div class="pokemon-grid">

         <div class="flip-card" *ngFor="let pokemon of displaypokemons">
            <div class="flip-card-inner">
              <div class="flip-card-front" >
                <h3>{{ pokemon.id}}. {{ pokemon.name }}</h3>
                <img class=img [src]="pokemon.sprites.front_default" alt="pokemon">
               </div>
              <div class="flip-card-back" >
                <h3>{{ pokemon.name }}</h3>
                <img class= img [src]="pokemon.sprites.back_default ? pokemon.sprites.back_default : pokemon.sprites.front_default" alt="pokemon">
                <p>
                    <b>Type: {{pokemon.types[0].type.name}} </b>

                    <b> Height: {{ pokemon.height }}</b>
                </p>
                <p>
                  <b>Health: {{ pokemon.stats[0].base_stat }} </b>
            
                <b>  Attack Power:  {{ pokemon.stats[1].base_stat }}</b>
            </p>
              </div>
            </div>
          </div>
